@import "tailwindcss";


@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro UltraLight Az.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro UltraLight Italic Az.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro ExtraLight Az.otf") format("opentype");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro ExtraLight Italic Az.otf") format("opentype");
  font-weight: 250;
  font-style: italic;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro Light Az.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro Light Italic Az.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro Regular Az.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro Regular Italic Az.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro Medium Az.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro Medium Italic Az.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/Sofia Pro Semi Bold Az.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}


body {
  margin: 0;
  font-family: "Sofia Pro";
  background-color: #f5f5f5;
}



/* #app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} */

#app {
  position: relative;
  width: 100%;
  max-width: 1126px;
  min-height: 100svh;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-inline: 1px solid var(--border);
}
